html{
height:100% !important;
}

body {
  max-width: 45em;
  min-height:100% !important;
  margin: 0 auto !important;
  padding: 5px;
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 1.6em;
  background-color: #031C2A;
  color: white;
  text-align: left;
}
h2,h3{
  padding-top: 10px;
  font-weight: strong;
  color: #6DF1FF;
}
h1{
  padding-top: 50px;
  font-weight: strong;
  color: #6DF1FF;
}
a{
color: #8AFFCD;
}
ul, li{
text-indent: -24px;
margin-left: 20px; 
}
footer{
padding-top:20px;
padding-bottom:5px;
text-align:center;
}
