* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body {
  max-width: 40em;
  margin: 0 auto;
  padding: 5px;
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 1.6em;
  background-color: #031C2A;
  color: white;
  text-align: left;
}
h2,h3{
  padding-top: 10px;
  font-weight: strong;
  color: #6DF1FF;
}
h1{
  padding-top: 50px;
  font-weight: strong;
  color: #6DF1FF;
}
a{
color: #8AFFCD;
}
ul, li{
text-indent: -24px; /* key property */
margin-left: 20px; 
}
footer{
padding-top:20px;
text-align:center;
}