html{
height:100% !important;
}
body {
max-width: 45em;
min-height:100% !important;
margin: 0 auto !important;
padding: 5px;
font-size: 16px;
line-height: 1.6em;
text-align: left;
background: #12161A;
color:white;
font-family: monospace;
}
ul, li{
text-indent: -24px;
margin-left: 20px; 
margin-bottom: 10px;
}
a{
text-decoration:none;
color:#59B64F;
}
